@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Homepage</PageTitle>


<div class="align-content-center">

<button class="btn btn-success" @onclick="NavigateToGame" >Go to Tennis Game Calculator!</button>
</div>

@code {
    private void NavigateToGame()
    {
        NavigationManager.NavigateTo("/TennisScoreMaster");
    }
}